# Scraping top 10 ODI women's team

In [11]:
import requests
import bs4
from bs4 import BeautifulSoup as bs
import pandas as pd

page=requests.get('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')
# page

soup=bs(page.content)
# soup

position=[]
team=[]
matches=[]
points=[]
rating=[]

topteam=soup.find('tr',class_="rankings-block__banner")
position.append(topteam.text.split('\n')[1])
team.append(topteam.text.split('\n')[4])
matches.append(topteam.text.split('\n')[7])
points.append(topteam.text.split('\n')[8])
rating.append(topteam.text.split('\n')[10].strip(' '))

# print(position,team,matches,points,rating)

for i in soup.find_all('tr',class_="table-body"):
    position.append(i.text.split('\n')[1])
    team.append(i.text.split('\n')[4])
    matches.append(i.text.split('\n')[7])
    points.append(i.text.split('\n')[8])
    rating.append(i.text.split('\n')[9])




df=pd.DataFrame({'POSITION': position[:10],'TEAM':team[:10],'MATCHES':matches[:10],'POINTS':points[:10],'RATINGS':rating[:10]})
df

  POSITION          TEAM MATCHES POINTS RATINGS
0        1     Australia      18  3,061     170
1        2  South Africa      26  3,098     119
2        3       England      25  2,904     116
3        4         India      27  2,820     104
4        5   New Zealand      24  2,425     101
5        6   West Indies      24  2,334      97
6        7    Bangladesh      12    932      78
7        8      Thailand       8    572      72
8        9      Pakistan      24  1,519      63
9       10     Sri Lanka       8    353      44